* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: relative;
    
}
.clear{
    clear:both;
}
.btn-top{
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    font-size: 18px;
    display: none;
}
.open-btn-top{
    display: block;
    cursor: pointer;    
}
.a-btn-top{
    text-decoration: none;
}
#header {
 height: 46px;
 background-color: #000;
 position:fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 2;
}
.bar{
    color: #fff;
    display: none;
}
.bar:hover{
    cursor: pointer;
}
.wrap-nav{
    display: block;
}
#nav {
    display: inline-block;
}

#nav,.subnav {
    list-style-type: none;
}
#nav >li {
    display: inline-block;
}
#nav li {
    
    position: relative;
}

#nav-arrow-down {
    font-size: 14px;
}

#nav >li:hover >a,
#nav .subnav li:hover a {
    background-color: #ccc ;
    color: #000 ;
    
}

#nav  li:hover .subnav {
    display : block;
}
#nav .subnav {
    display:none;
    min-width: 160px;
    position:absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
#nav .subnav a {
    color: #000;
    padding: 0 24px;
    line-height: 38px;
}



#nav >li >a {
    color : #fff;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#header .search-btn {
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
    
}
.owl-carousel {
    margin-top: 46px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 736px;
}
.owl-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    background: transparent;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: aqua;
}
.owl-nav button.owl-prev{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px !important;
}
.owl-nav button.owl-next{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px !important;
}
#content {

}

#content .content-section{
    width : 800px;
    padding: 64px 0;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 78px;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    color: rgb(105, 103, 103);
    margin-bottom: 15px;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members{
    margin-top:32px;
}
#content .members-name{
    text-align: center;
}
#content .members-item {
    /* width : 140px; */
    /* height: 210px; */
    display: inline-block;
    /* width:24%; */
}

#content .members-item img {
    width :170px;
    height: 160px;
    margin-top: 15px;
}
#content .members-item:hover{
    opacity: 0.6;
    cursor: pointer;
}
.text-while{
    color: #fff !important;
}
.modal-member-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform-origin: bottom;
    animation: modalmember ease .1s;
}
.member-jisoo{
    display: none;
}
.member-detail{
    background-color: #fff;
    width: 80%;
    min-height: 92%;
    margin: auto;
    transform: translateY(8%);
    position: relative;
}
.member-detail-left{
    background-color: #f8f9fa;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.member-detail-name{
    text-align: center;
    margin: 5px;
}
.member-detail-img{
    width: 90%;
    margin:auto;
    display: flex;
    height: 24%;
}
.img-decription{
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
}
.infor{
    display: flex;
    margin-bottom: 5px;
}
.infor-title{
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
    font-weight: 600;
}
.infor-left{
    font-size: 12px;
    margin-left: 2px;
    width: 46px;
    font-weight: 600;
}
.signature{
    width: 65%;
    height: 14%;
    margin: auto;
    display: flex;
}
.infor-right{
    font-size: 12px;
    margin-left: 30px;
}
.wrap-detail-right{
    margin-top: 42px;
}
.member-detail-right{
    position: absolute;
    left: 210px;
    text-align: justify;
    padding-right: 10px;
}
.member-detail-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: #f6442e;
    border-radius: 4px;
}
.member-detail-close:hover{
    cursor: pointer;
    opacity: 0.7;
}
.member-detail-right-title{
    font-weight: 700;
    margin: 15px 0;
}
.member-detail-right-context{

}
#content .tour-section {
    background-color: #000;
    padding: 64px
}
.tickets-section{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-section li {
    font-size: 15px;
    padding : 8px 16px;
    border-bottom: solid #ccc 1px;
}

.tickets-section li .sould-out{
    list-style: none;
    height : 23px;
    font-size: 15px;
    background:red;
    margin: 0 0 0 16px;
    padding : 3px 4px;
}
.quantity{
    float : right;
    background-color: #000;
    width : 24px;
    height : 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
#content .places-list{
    margin-top:32px;

}

#content .places-item{
    float: left;
    width: 33.3333333333333%;
    padding: 0 6px;
    margin-bottom: 32px;

}
#content .place-img{
    width : 100%;
    display: block;
}
#content .place-img:hover{
    opacity: 0.6;
}

.place-content{
    background: #fff;
    height: 205px;
    font-size: 15px;
    padding: 0.15px 16px;
}
.place-heading{
    padding: 15px 0;
}
.place-time{
    padding: 12px 0;
}
#content .context{
    padding: 15px 0;
    text-align: justify;
    margin-bottom: -2px;

}
.place-buy-btn{
    text-decoration: none;
    color : #fff;
    background-color: #000;
    margin-bottom: 16px;
    padding : 11px 16px;
}
.place-buy-btn:hover{
    cursor: pointer;
    background-color:#ccc;
    color : #000;
}
#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #000;
}
.social{
    font-size:24px;
}
.social a{
    text-decoration: none;
}
.social a:hover{
    opacity: 0.6;
}
.copyright{
    font-size:15px;
    margin: 15px 0;
    color: #fff;
}
.modal{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal.open{
    display: flex;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 46px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close:hover{
    background-color:#ccc;
    cursor: pointer;
}
.modal-container{
    background-color:#fff;
    width : 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease-in-out .6s;
}
.modal-header{
    background-color: #009688;
    height : 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.bag-icon{
    margin-right: 12px;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    margin: 15px 0;
}
.modal-input{
    padding: 8px;
    width: 100%;
    margin-bottom: 24px;
}
.modal-button{
    display: block;
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    background-color: #009688;
}
.modal-button:hover{
    background-color:#ccc;
    cursor: pointer;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content:'';
    display:block;
    clear: both;
}

.col {
    float : left;
    padding-left: 8px;
    padding-right: 8px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.contact-content{
    padding: 32px 0;
}
.contact-icon{
    margin-right: 12px;
}
.contact-p{
    margin-bottom: 5px;
    font-size: 18px;
}
.contact-form{
    font-size: 15px;
    position: relative;
}
.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    position: absolute;
    font-size: 15px;
    right: 8px;
    width: 80px;
    height: 32px;
    background: #000;
    color: #fff;
}
.form-submit-btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}
@keyframes modalmember {
    from {
        opacity: 0;
        transform: scale(0)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}
@media screen and (max-width: 1239px) {
    .owl-carousel .owl-item img {
        height: 644px;
    }
    #content .content-section {
        width: auto;
    }
    #content .about-text {
        margin-left: 10px;
        margin-right: 10px;
    }
    #content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-left: 10px;
    margin-right: 10px;
    }
    #content .members {
        display: flex;
        justify-content: space-evenly;
        margin-left: 10px;
        margin-right: 10px;
    }
    .place-time {
        padding: 10px 0;
    }
    #content .context {
        padding: 12px 0;
    }
    .contact-content {
        margin: 0 10px;
    }
    .member-detail-right-context {
        font-size: 11px;
    }
}
@media screen and (max-width: 739px) {
    .wrap-nav {
        display: none;
    }
    #nav {
        display: flex;
        flex-direction: column;
        width: 150px;
        background-color: blanchedalmond;
        position: absolute;
        left: 5%;
        top: 12px;
    }
    #nav >li >a {
        color: black;
        font-weight: 600;
    }
    #nav .subnav {
        display: none;
        min-width: 160px;
        position: absolute;
        top: 20%;
        left: 100%;
        background-color: blanchedalmond;
        box-shadow: 0 0 10px #ccc;
    }
    .bar{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .owl-carousel .owl-item img {
        height: 320px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
    }
    #content .members {
        flex-direction: column;
    }
    #content .members-item {
        margin: auto;
    }
    #content .members-name {
        margin-top: 12px;
    }
    #content .places-list {
        display: flex;
        flex-direction: column;
    }
    #content .places-item {
        width: 100%;
    }
    .contact-content {
        display: flex;
        flex-direction: column;
    }
    .col-half {
        width: 100%;
        margin-bottom: 15px;
    }
    .member-detail-left {
        width: 120px;
    }
    .member-detail-name {
        font-size: 14px;
    }
    .member-detail-img {
        height: 15%;
    }
    .img-decription {
        font-size: 8px;
    }
    .infor {
        flex-direction: column;
    }
    .infor-left {
        font-size: 10px;
    }
    .infor-right {
        font-size: 9px;
        margin-left: 12px;
    }
    .infor-title {
        font-size: 11px;
    }
    .signature {
        width: 46%;
        height: 8%;
    }
    .member-detail-right {
        left: 124px;
        padding-right: 5px;
    }
    .member-detail-right-context {
        font-size: 9px;
    }
    .member-detail-right-title {
        margin: 4px 0;
        font-size: 11px;
    }
}

